/*
font-family: 'Aleo', serif;
font-family: 'Gabarito', cursive;
font-family: 'Lato', sans-serif;
*/

:root{
  --bg-color: #151515;
  --green: #13af42;
  --btn-primary: #13af42;
  --light-gray: #222222;
  --text: #bababa;
}

.dark-mode{
  --bg-color: #d3d3d3;
  --green: #13af42;
  --btn-primary: #13af42;
  --light-gray: #c0c0c0;
  --text: #515151;
}

body {
  background-color: var(--bg-color);
  position: relative;
}

/*body::before {
  content: '';
  background-image: url("../assets/fundo-de-textura-papar-aquarela-branco-vertical-para-design-de-cartao-de-capa-ou-fundo-de-arte-de-pintura-aon-de-sobreposicao.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  mix-blend-mode: multiply;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 100%;
} */

body::-webkit-scrollbar {
  width: 15px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--light-gray);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--green);    /* color of the scroll thumb */
  border-radius: 15px;       /* roundness of the scroll thumb */
  border: 3px solid var(--light-gray);  /* creates padding around scroll thumb */
}


@media (max-width: 600px) {
  h1 {
    font-size: 3.7em !important;
  }

  #about-me, #interesses, #formacao, #hard-skills, #contato {
    margin: 5px 0px 5px 0px !important;
  }

  .section-title 
  {
    font-size: 5.5em !important;
    margin-bottom: 20px;
  }

  .row {
    flex-wrap: wrap;
  }

  .campos-interesses {
    flex-direction: row !important;
    align-items: flex-start !important;
  }

  .icons-hard-skills, .icons-interesses {
    margin-right: 13px !important;
    margin-top: 0px !important;
    
  }
}

textarea::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

textarea::-webkit-scrollbar-track {
  background: var(--light-gray);        /* color of the tracking area */
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--green);    /* color of the scroll thumb */
  border-radius: 15px;       /* roundness of the scroll thumb */
  border: 3px solid var(--light-gray);  /* creates padding around scroll thumb */
}



h1{
  font-family: 'Aleo', serif;
  font-weight: 900;
  font-size: 6em;
  color: var(--green);
}

h2 {
  font-family: 'Gabarito', sans-serif;
  font-weight: 300;
  font-size: 2em;
  color: var(--text);
}

h3, legend {
  font-family: 'Gabarito', sans-serif;
  font-size: 2em;
  font-weight: 600;
  color: var(--text);
  margin: 20px 0px 0px 0px;
  display: inline;
}

.section-title {
  font-family: 'aleo', serif;
  font-size: 7em;
  font-weight: 900;
  color: var(--light-gray);
}

p {
  font-family: 'Gabarito', sans-serif;
  font-weight: 100;
  font-size: 1.5em;
  color: var(--text);
  line-height: 1.5em ;
  margin-top: 10px;
}

a {
  text-decoration: none;
  position: relative;
}

#contato i{
  display: inline-block;
  font-size: 2em;
  margin-right: 10px;
  color: var(--text);

}

#colunas {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
  flex-direction: row;
}

.col-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.col-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}

.col-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
 
  flex: 1;
}

.col-1, .col-2, .col-3 {
  margin: 10px;
  padding: 20px
}

.img {
  margin: auto;
  width: 100%;
  border-radius: 30px;
}

.foto-erick {
  position: relative;
}

.dark-mode-button {
  position: absolute;
  z-index: 1;
  margin-top: 20px;
  margin-left: 23px;

}

#about-me, #interesses, #formacao, #hard-skills, #contato {
  margin-top: 50px;
  margin-bottom: 50px;
}

.nome {
  margin-bottom: 50px;
}

#about-me h2, #interesses h2, #formacao h2, #hard-skills h2{
  color: var(--text);
  margin-top: -25px;
  font-size: 3em;
  font-weight: 900;
  margin-bottom: 10px;
  display: inline;
}

#about-me p{
  margin-left: 5px;
  line-height: 1.5em ;
  margin-top: 10px;
}

.conteudo {
  margin-top: -70px;
}

#formacao {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.item-formacao {
  margin-top: 30px;
}

.item-formacao p{
  margin-top: 5px;
}

.campos-interesses {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.icons-interesses {
  text-align: center;
  margin: 20px 40px 20px 0px;
}

.icons-interesses i {
  font-size: 3em;
  color: var(--green);
}

.img-hard-skills {
  width: 60px;
  margin-left: 0px;
  filter: grayscale(100%);
  position: relative;
}

.img-hard-skills:hover {
  width: 60px;
  margin-left: 0px;
  filter: grayscale(0%);
  transition: 200ms;
}

.icons-hard-skills {
  padding: 0px;
  text-align: center;
  margin: 20px 30px 20px 0px;
}

.row {
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
}

a {
  color: green !important;
}

.item-contato:hover{
  font-size: 1.1em;
  color: green;
  transition: 200ms;
}

.item-contato {
  margin-bottom: 30px;
}

input, textarea {
  resize: none;
  box-shadow: 0 0 0 0;
  border: 0 none;
  position: relative;

  color: var(--text);

  background-color: var(--light-gray);
  border-radius: 5px;
  min-height: 20px;
  padding: 10px;
  font-family: 'Gabarito', sans-serif;
  font-size: 1em;
}

input:focus, textarea:focus{
  resize: none;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  border: 3px solid var(--green);
}

.campo-form {
  width: 95%;
}

#mensagem {
  width: 95%;
  height: 120px;
}

button {
  font-family: 'Gabarito', sans-serif;
  font-size: 1em;
  color: var(--light-gray);
  background-color: var(--btn-primary);
  padding: 10px 20px;
  margin: 20px 0px;
  border: 0px;
  border-radius: 5px;
  position: relative;
}

button:hover {
  background-color: var(--text);
  transition: 200ms;
  cursor: pointer;  
}

button:focus {
  border: 3px solid var(--btn-primary);
  outline: 0;
  background-color: var(--text);
  transition: 200ms;
}


#messageNome, #messageEmail, #messageRepeteEmail, #messageSubmit {
  font-size: 1em;
  color: red;
  font-weight: 100;
  display: none;
  margin: 0px;
}